html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: #d6f1ca;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  font-family: "Geist Mono", monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  background-color: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
  color: inherit;
}

.header {
  background-color: #191919;
}

.container {
  max-width: 1740px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__inner {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}

.header__list {
  gap: 5px;
  display: flex;
  text-transform: uppercase;
}

.header__link {
  display: inline-block;
  padding: 10px;
  background-color: #ffffff10;
  font-size: 16px;
  line-height: 1;
}

.top {
  background-image: url("/images/top-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.top__inner {
  min-height: calc(100vh - 136px);
  display: flex;
  flex-direction: column;
  padding: 55px 0;
  justify-content: center;
  max-width: 900px;
}

.top__title {
  font-size: 150px;
  line-height: 160px;
  padding: 40px 0;
  font-family: "Tilt Warp", sans-serif;
  text-transform: uppercase;
}

.top__text {
  max-width: 500px;
  padding-bottom: 40px;
}

.top__btn {
  background-color: #138561;
  padding: 20px 0;
  max-width: 608px;
  font-weight: 600;
}

.top__btn svg {
  margin-left: 10px;
}

.event {
  background-color: #191919;
  padding: 100px 0;
}

.event__title {
  text-align: center;
  font-size: 100px;
  max-width: 1100px;
  margin: 0 auto 40px;
  line-height: 89px;
  font-family: "Tilt Warp", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

.event__text {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;
}

.event__list {
  padding: 420px 0 145px;
  background-image: url(/images/event-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.event__list-inner {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.event__list-item {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.event__list-item dd {
  font-size: 150px;
  font-family: "Tilt Warp", sans-serif;
  text-transform: uppercase;
}

.players {
  background-color: #191919;
  padding: 50px 0;
  padding-bottom: 100px;
}

.players__title {
  text-align: center;
  font-size: 100px;
  line-height: 89px;
  font-family: "Tilt Warp", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 180px;
}

.players__list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.players__item-box {
  background-color: #fff;
  padding: 25px 20px;
}

.players__item {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
  width: 100%;
  height: 415px;
}

.players__img {
  position: absolute;
  bottom: 34px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.players__item-box {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 24px;
}

.players__item-name {
  font-family: "Tilt Warp", sans-serif;
  color: #191919;
  font-size: 36px;
  padding-bottom: 10px;
}

.players__item-descr {
  color: #19191943;
}

.stadium {
  padding-top: 40px;
  padding-bottom: 100px;
  background-color: #191919;
  background-image: url("../images/stadium-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.stadium__inner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.stadium__box {
  padding: 20px 45px;
  margin: 0 auto auto;
  background-color: #0b0d1330;
  backdrop-filter: blur(12px);
  max-width: 970px;
  border-radius: 15px;
  text-align: center;
}

.stadium__title {
  font-size: 100px;
  line-height: 89px;
  font-family: "Tilt Warp", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 40px;
}

.stadium__list {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  padding-top: 20px;
  border-top: 1px solid grey;
}

.ready {
  background-image: url("../images/ready-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 237px 0;
  text-align: center;
}

.ready__title {
  font-size: 100px;
  line-height: 89px;
  font-family: "Tilt Warp", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 40px;
  max-width: 785px;
  margin: 0 auto 40px;
}

.ready__text {
  max-width: 577px;
  margin: 0 auto 40px;
  text-align: center;
}

.ready__btn {
  background-color: #138561;
  padding: 15px 20px;
  font-weight: 600;
}

.slider {
  padding: 100px 0;
  background-color: #191919;
}

.slider__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
  padding: 80px 0;
}

.slider__img {
  border-radius: 27px;
}

.slider__text {
  max-width: 624px;
  color: #fff;
  justify-content: stretch;
}

.slider__text p {
  margin-bottom: 20px;
}

.slider__name {
  margin-bottom: 10px;
}

.slider__descr {
  font-size: 16px;
  color: #b6b6b8;
}

.slider__btn {
  position: absolute;
  cursor: pointer;
  top: 80px;
  width: 60px;
  height: 60px;
  border: 1px solid #ffffff50;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 10;
}

.slider-button-prev {
  left: 0;
  transform: rotate(180deg);
}

.slider-button-next {
  right: 0;
}

.swiper {
  background-image: url("../images/slider-bg.svg");
}

.swiper-button-disabled {
  display: none;
}

.swiper-pagination {
  position: absolute;
  color: white;
  font-weight: 500;
  font-size: 24px;
  bottom: 80px;
  display: inline-flex;
  justify-content: flex-end;
}

@media (max-width: 1700px) {
  .players__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 1000px) {
  .slider__content {
    flex-direction: column;
  }
}

@media (max-width: 1000px) {
  .event__list-inner {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
  .event__title {
    font-size: 50px;
    line-height: 73px;
  }
  .event {
    padding: 50px 0;
  }
  .players__list {
    gap: 160px;
  }
  .stadium__inner {
    min-height: 0;
    gap: 50px;
  }
  .stadium__title {
    font-size: 60px;
    line-height: 67px;
  }
  .stadium__list {
    display: none;
  }
  .ready__title {
    font-size: 60px;
    line-height: 70px;
  }
  .ready {
    padding: 100px 0;
  }
}

@media (max-width: 700px) {
  .header__inner {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}

@media (max-width: 550px) {
  .top__inner {
    min-height: 0;
    padding: 0;
  }
  .top__title {
    font-size: 50px;
    line-height: 60px;
  }
  .event__list {
    padding: 120px 0 45px;
  }
  .event__list-item {
    gap: 0px;
  }

  .event__text {
    display: none;
  }

  .players {
    display: none;
  }

  .slider {
    display: none;
  }
}
@media (max-width: 450px) {
  .header__link {
    font-size: 12px;
  }
  .players {
    display: none;
  }
  .stadium {
    display: none;
  }
}
